<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>URL Shortener</title>
</head>
<body>
    <div id="content">
        <header>URL Shortener</header>
        <div id="contentButtons">
            @using (Html.BeginForm("UrlTable", "Home", FormMethod.Get))
            {
                <input type="submit" value="Список ссылок" />
            }
            @using (Html.BeginForm("CreateShort", "Home"))
            {
                <input type="submit" value="Создание короткой ссылки" />
            }
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
